:root {
    --note-bg-red: #f9393986;
    --note-bg-yellow: #ffff65ae;
    --note-bg-green: #36c512;
    --note-bg-blue: #1218c580;
    --note-bg-pink: #c512b38a;
    --note-bg-gray: #c6dcd7;
    --note-bg: #4e3e9fc2;
}

.align-md {
    margin: 2rem auto;
    gap: 2rem;
}

.note-list {
    width: 80%;
    display: grid;
    gap: 2rem 2rem;
    grid-template-columns: repeat(auto-fill,
            minmax(20rem, 1fr));
}

.margin-top {
    margin-top: 1rem;
}

.margin-auto {
    margin: 1rem auto;
}

.mg-left-sm {
    margin-left: 0.4rem;
}

.position-right {
    position: relative;
    left: 0;
}

.flex-grow {
    flex-grow: 1;
}